<!--
Author: Ranjithprabhu K
Page Description: About Me page
Date: 05 Jan 2016
-->

<section class="content-header">
    <h1>
        About Me
    </h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">About Me</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-4">
            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive" src="../../../../images/home/photo2.jpg" alt="Ranjithprabhu K">
                    <h3 class="profile-username text-center">Ranjithprabhu K</h3>
                    <p class="text-muted text-center">Software Engineer</p>
                <hr />
                    <div class="box-body">
                        <strong><i class="fa fa-book margin-r-5"></i>  Education</strong>
                        <p class="text-muted">M.E. Computer Science Engineering</p>
                        <p class="text-muted">M.Sc. Software Systems</p>
                        <hr>
                        <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                        <p class="text-muted">Coimbatore, Tamilnadu, India</p>
                        <hr>
                        <strong><i class="fa fa-user-md margin-r-5"></i> Specialist in</strong>
                        <p>
                            <span class="label label-success">UI Development</span>
                            <span class="label label-info">UX Design</span>
                            <span class="label label-warning">Software Consultant</span>
                            <span class="label label-danger">Web Apps Building & Deployment</span>
                        </p>
                    </div>

                    <a class="btn btn-primary btn-block" ui-sref="app.contact"><b>Contact Me</b></a>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    <div class="col-md-4">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">I Love to</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa fa-film margin-r-5"></i> <span class="pull-right"> Watch Movies with Friends</span></strong><hr>
                <strong><i class="fa fa-headphones margin-r-5"></i> <span class="pull-right"> Listen Music When Alone</span></strong><hr>
                <strong><i class="fa fa-play margin-r-5"></i> <span class="pull-right"> Play Cricket in Weekend</span></strong><hr>
                <strong><i class="fa fa-bicycle margin-r-5"></i> <span class="pull-right"> Go in Cycle to Office</span></strong><hr>
                <strong><i class="fa fa-motorcycle margin-r-5"></i> <span class="pull-right"> Go for a Long Ride in Bike</span></strong><hr>
                <strong><i class="fa fa-binoculars margin-r-5"></i> <span class="pull-right"> SightSee All Hill Stations</span></strong><hr>
                <strong><i class="fa fa-weixin margin-r-5"></i> <span class="pull-right"> Group Chat Friends</span></strong><hr>
            </div><!-- /.box-body -->
        </div><!-- /.box -->
    </div>
        <div class="col-md-4">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Languages</h3>
                </div><!-- /.box-header -->
                <div class="box-body" style="font-size:21px;">
                    <strong><span class="label label-success"> English</span></strong>
                    <p class="text-muted pull-right">
                        <span class="glyphicon glyphicon-star text-red"></span>
                        <span class="glyphicon glyphicon-star text-red"></span>
                        <span class="glyphicon glyphicon-star text-red"></span>
                        <span class="glyphicon glyphicon-star text-red"></span>
                       <span class="glyphicon glyphicon-star"></span>
                    </p>
                    <hr>
                    <strong><span class="label label-info"> Tamil</span></strong>
                    <p class="text-muted pull-right">
                        <span class="glyphicon glyphicon-star text-info"></span>
                        <span class="glyphicon glyphicon-star text-info"></span>
                        <span class="glyphicon glyphicon-star text-info"></span>
                        <span class="glyphicon glyphicon-star text-info"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                    <hr>
                    <strong><span class="label label-warning"> Kannadam</span></strong>
                    <p class="text-muted pull-right">
                        <span class="glyphicon glyphicon-star text-warning"></span>
                        <span class="glyphicon glyphicon-star text"></span>
                        <span class="glyphicon glyphicon-star text"></span>
                        <span class="glyphicon glyphicon-star text"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                    <hr>
                    <strong><span class="label label-primary"> Hindi</span></strong>
                    <p class="text-muted pull-right">
                        <span class="glyphicon glyphicon-star text-primary"></span>
                        <span class="glyphicon glyphicon-star text-primary"></span>
                        <span class="glyphicon glyphicon-star text"></span>
                        <span class="glyphicon glyphicon-star text"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                    <hr>
                    <strong><span class="label label-danger"> Telugu</span></strong>
                    <p class="text-muted pull-right">
                        <span class="glyphicon glyphicon-star text-red"></span>
                        <span class="glyphicon glyphicon-star text"></span>
                        <span class="glyphicon glyphicon-star text"></span>
                        <span class="glyphicon glyphicon-star text"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                    <hr>
                    <strong><span class="label label-default"> Malayalam</span></strong>
                    <p class="text-muted pull-right">
                        <span class="glyphicon glyphicon-star text-black"></span>
                        <span class="glyphicon glyphicon-star text"></span>
                        <span class="glyphicon glyphicon-star text"></span>
                        <span class="glyphicon glyphicon-star text"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                <hr />
                    
                    
            </div><!-- /.box -->
        </div>
    </div>
        </div><!-- /.row -->
</section><!-- /.content -->


