<!--
Author: Ranjithprabhu K
Page Description: Dashboard page
Date: 05 Jan 2016
-->
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Professional Experience
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Experience</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <li class="time-label">
                    <span class="bg-red-gradient">
                        April 2015 to till date
                    </span>
                </li>
                <li>
                    <i class="fa fa-suitcase bg-blue-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time text-bold"> Full Time</span>
                        <h3 class="timeline-header"><a href="http://kmitsolutions.com" target="_blank">Software Engineer - KMIT Solutions</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li>Developing Web applications</li>      
                                <li>Developing E-Comm sites</li>
                                <li>Integrating web apps with API</li>
                            </ul>

                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span class="label label-danger">HTML 5</span>
                                <span class="label label-success">CSS 3</span>
                                <span class="label label-warning">Java Script</span>
                                <span class="label label-primary">Type Script</span>
                                <span class="label label-danger">jQuery</span>
                                <span class="label label-info">Angular JS</span>
                                <span class="label label-success">SAAS</span>
                                <span class="pull-right">
                                    <a class="btn btn-primary btn-xs" ui-sref="app.recent">View Recent projects</a>
                                </span>
                            </p> 
                        </div>
                    </div>
                </li>
                <li class="time-label">
                    <span class="bg-green-gradient">
                        Nov 2010 - Jan 2015
                    </span>
                </li>
                <li>
                    <i class="fa fa-pencil-square-o bg-yellow-gradient text-white"></i>
                    <div class="timeline-item">
                        <span class="time text-bold"> Part Time</span>
                        <h3 class="timeline-header"><a>Web & Graphic Designer - Premier Group of Companies</a></h3>
                        <div class="timeline-body">
                            <ul>
                                <li>Designing Loogo, Visiting Card, Brochures, Flex etc.,</li>
                                <li>Designing static Websites</li>
                                <li>Hosting and Domain Management</li>
                                <li>Did UI Designs and Mockups as a Freelancer</li>
                            </ul>

                        </div>
                        <div class="timeline-footer">
                            <p>
                                <span class="label label-danger">Photo Shop</span>
                                <span class="label label-success">Corel Draw</span>
                                <span class="label label-info">HTML</span>
                                <span class="label label-warning">CSS</span>
                                <span class="label label-primary">Bootstrap</span>
                                <span class="pull-right">
                                    <a class="btn btn-google btn-xs" ui-sref="app.websites">View Websites</a>
                                    <a class="btn btn-facebook btn-xs" ui-sref="app.portfolio">View Portfolio</a>
                                </span>
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-clock-o bg-gray"></i>
                </li>
            </ul>
        </div><!-- /.col -->
    </div>
</section><!-- /.content -->