<!--
Author: Ranjithprabhu K
Page Description: Search page
Date: 24 Jan 2016
-->

<section class="content-header">
    <h1>
        Search
    </h1>
    <ol class="breadcrumb">
        <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">Search</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="row" style="min-height:500px;">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!
                </h1>
                <h2>
                    Search Content Not Found
                </h2>
                <div class="error-details">
                    Sorry, the searched phrase not found in this application
                </div>
                <div class="error-actions">
                    <a ui-sref="app.dashboard" class="btn btn-primary btn-lg">
                        <span class="glyphicon glyphicon-home"></span>
                        Take Me Home
                    </a><a ui-sref="app.contact" class="btn btn-twitter btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Developer </a>
                </div>
            </div>
        </div>
    </div>
</section><!-- /.content -->


















