<!--
Author: Ranjithprabhu K
Page Description: Skills page
Date: 13 Jan 2016
-->

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Development Stack</h1>
        <ol class="breadcrumb">
            <li><a><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Skills</li>
        </ol>
    </section>
    <!-- Development content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6" data-ng-repeat="skill in vm.skills.development">
                <!-- small box -->
                <div class="small-box bg-{{skill.theme}}-gradient">
                    <div class="inner">
                        <h3>{{skill.Percentage}}<small class="text-black">%</small></h3>
                        <p class="text-bold">{{skill.Software}}</p>
                    </div>
                    <div class="icon">
                        <i class="fa"><img src="../../../../images/icons/{{skill.image}}.png" class="img-responsive" width="70" /></i>
                    </div>
                    <div class="progress progress-sm active">
                        <div class="progress-bar progress-bar-{{skill.theme}} progress-bar-striped" role="progressbar" aria-valuenow="{{skill.Percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.Percentage}}%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="content-header">
        <h1>Design Stack</h1>
    </section>
    <!-- Design content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6" data-ng-repeat="skill in vm.skills.design">
                <!-- small box -->
                <div class="small-box bg-{{skill.theme}}-gradient">
                    <div class="inner">
                        <h3>{{skill.Percentage}}<small class="text-black">%</small></h3>
                        <p class="text-bold">{{skill.Software}}</p>
                    </div>
                    <div class="icon">
                       <i class="fa"><img src="../../../../images/icons/{{skill.image}}.png" class="img-responsive" width="70" /></i>
                    </div>
                    <div class="progress progress-sm active">
                        <div class="progress-bar progress-bar-{{skill.theme}} progress-bar-striped" role="progressbar" aria-valuenow="{{skill.Percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.Percentage}}%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

<section class="content-header">
    <h1>Others</h1>
</section>
<!-- Others -->
<section class="content">
    <div class="row">
        <div class="col-lg-3 col-xs-6" data-ng-repeat="skill in vm.skills.others">
            <!-- small box -->
            <div class="small-box bg-{{skill.theme}}-gradient">
                <div class="inner">
                    <h3>{{skill.Percentage}}<small class="text-black">%</small></h3>
                    <p class="text-bold">{{skill.Software}}</p>
                </div>
                <div class="icon">
                    <i class="fa"><img src="../../../../images/icons/{{skill.image}}.png" class="img-responsive" width="70" /></i>
                </div>
                <div class="progress progress-sm active">
                    <div class="progress-bar progress-bar-{{skill.theme}} progress-bar-striped" role="progressbar" aria-valuenow="{{skill.Percentage}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.Percentage}}%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



